@mixin botaoPrimario {
    background-color: $corPrimaria;
    color: $branco;
}

@mixin botaoInvertido {
    background-color: $branco;
    color: $corPrimaria;
    border: 1px solid $corPrimaria;
}

@mixin botaoVermelho {
    background-color: $vermelho;
    color: $branco;
}

@mixin botaoVermelhoInvertido {
    background-color: $branco;
    color: $vermelho;
    border: 1px solid $vermelho;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &.primaria {
        @include botaoPrimario;

        &:hover {
            @include botaoInvertido;
        }
    }

    &.invertido {
        @include botaoInvertido;

        &:hover {
            @include botaoPrimario;
        }
    }
    
    &.vermelho{
        @include botaoVermelho;

        &:hover {
            @include botaoVermelhoInvertido;
        }
    }

    &:disabled {
        opacity: 0.5;
    }
}