.inputPublicoContainer{
    height: 90%;
    justify-content: center;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1{
        font-size: 16px;
        text-align: center;
      }

    input{
        border: 0;
        outline: none;
        color: $corPrimaria;
        width: 100%;
    }
    
    .inputPublicoVeiulos{
        padding: 20px 0 0 0;

        .edicaoFotoVeiculo {
            margin: 16px 0px;
            text-align: center;
            cursor: pointer;

            .fotoVeiculo {
                width: 80px;
                height: 80px;
                margin-bottom: 2px;
            }

            span {
                font-size: 12px;
                color: $corPrimaria;
                text-decoration: underline;
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        display: flex;
        height: 100%;
        flex-direction: column;

        .inputPublicoVeiulos {
            flex: 1;

            .edicaoFotoVeiculo {
                .fotoVeiculo {
                    width: 120px;
                    height: 120px;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }
}
