@media screen and (min-width:992px) {
  .edicaoNome {
    display: flex;

    input {
      line-height: 32px;
      display: inline-block;
      vertical-align: middle;
      width: 343px;
      border: none;
    }
  }

}