@import 'variaveis.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
}

html,
body,
#__next {
  margin: 0;
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.veiculos{
  border-radius: 50%;
  object-fit: cover;
}

.oculto {
  display: none !important;
}

.inputPublicoVeiulos img{
  width: 128px;
  height: 128px;
}


@import '../public/fonts/fonts.scss';
@import '../components/botao/botao.scss';
@import './paginaPublica.scss';
@import '../components/inputPublico/inputPublico.scss';
@import '../components/layout/header.scss';
@import '../pages/veiculos/veiculos.scss';
@import '../pages/administrar/administrar.scss';
@import '../pages/editarVeiulos/editarVeiculos.scss';
@import '../pages/cadastroVeiulos/cadastroVeiculos.scss';
@import '../components/modais/modais.scss';
@import '../components/AcaoMensagem/AcaoMensagem.scss';
@import "~bootstrap/scss/bootstrap";
@import "../pages/editar/perfil.scss";